<ion-navbar *navbar>
  <ion-title>Busca Cursos UC</ion-title>
  <ion-buttons right>
    <button (click)="selectPeriod()">
      {{ period | periodize }}
    </button>
  </ion-buttons>
</ion-navbar>

<ion-content class="page-content">
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-icon name="code" item-left></ion-icon>
          <ion-input [(ngModel)]="query.initials" type="text" placeholder="Sigla"></ion-input>
        </ion-item>

        <ion-item>
          <ion-icon name="quote" item-left></ion-icon>
          <ion-input [(ngModel)]="query.name" type="text" placeholder="Nombre"></ion-input>
        </ion-item>

        <ion-item>
          <ion-icon name="school" item-left></ion-icon>
          <ion-label>
            Escuela
          </ion-label>
          <ion-select [(ngModel)]="query.school">
            <ion-option value="">
              Todas
            </ion-option>
            <ion-option *ngFor="#school of schools" [value]="school">
              {{school}}
            </ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-icon name="compass" item-left></ion-icon>
          <ion-label>
            Campus
          </ion-label>
          <ion-select [(ngModel)]="query.campus" cancelText="Cancelar">
            <ion-option value="">
              Todos
            </ion-option>
            <ion-option *ngFor="#campus of campuses" [value]="campus">
              {{campus}}
            </ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <button block type="submit" (click)="search()" [disabled]="operation">{{operation ? 'Buscando...' : 'Buscar'}}</button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="courses">
    <ion-card-content>
      <ion-list *ngFor="#group of courses">
        <ion-list-header>
          <ion-icon [name]="provider.icon(group[0].school) || 'school'" item-left></ion-icon>
          {{group[0].school | uppercase}}
        </ion-list-header>
        <course-item
          *ngFor="#course of group"
          [course]="course"
          (select)="selectCourse(course)"
          (add)="addToSchedule(course)">
        </course-item>
      </ion-list>
      <p *ngIf="courses.length === 0">
        Sin resultados
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
