<ion-navbar *navbar>
  <ion-title>Busca Cursos UC</ion-title>
  <ion-buttons right>
    <button (click)="selectPeriod()">
      {{ period | periodize }}
    </button>
  </ion-buttons>
</ion-navbar>

<ion-content class="page-content">
  <ion-card>
    <ion-card-content>
      <ion-list>
        <form #loginForm="ngForm" novalidate>
          <ion-input>
            <ion-icon name="code" item-left></ion-icon>
            <input [(ngModel)]="query.initials" ngControl="initials" type="text" #initials="ngForm" placeholder="Sigla">
          </ion-input>

          <ion-input>
            <ion-icon name="quote" item-left></ion-icon>
            <input [(ngModel)]="query.name" ngControl="name" type="text" #name="ngForm" placeholder="Nombre">
          </ion-input>

          <ion-item (click)="selectSchool()">
            <ion-icon name="school" item-left></ion-icon>
            Escuela
            <ion-note item-right>
              {{ query.school || "Todas" }}
            </ion-note>
          </ion-item>

          <ion-item (click)="selectCampus()">
            <ion-icon name="compass" item-left></ion-icon>
            Campus
            <ion-note item-right>
              {{ query.campus || "Todos" }}
            </ion-note>
          </ion-item>

          <ion-item>
            <button block type="submit" (click)="search()" [disabled]="operation">{{operation ? 'Buscando...' : 'Buscar'}}</button>
          </ion-item>
        </form>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="courses">
    <ion-card-content>
      <ion-list *ngFor="#group of courses">
        <ion-list-header>
          <ion-icon [name]="provider.icon(group[0].school) || 'school'" item-left></ion-icon>
          {{group[0].school | uppercase}}
        </ion-list-header>
        <course-item
          *ngFor="#course of group"
          [course]="course"
          (select)="selectCourse(course)"
          (add)="addToSchedule(course)">
        </course-item>
      </ion-list>
      <p *ngIf="courses.length === 0">
        Sin resultados
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
