<ion-toolbar>
  <ion-buttons *ngIf="platform.is('ios')">
    <button (click)="cancel()">
      Cancelar
    </button>
  </ion-buttons>

  <ion-title>
    {{title}}
  </ion-title>

  <!-- <ion-buttons right *ngIf="platform.is('ios')">
    <button (click)="save()">
      Listo
    </button>
  </ion-buttons> -->
</ion-toolbar>

<ion-content class="has-header">
  <ion-card>
    <ion-card-header>
      Agregar o quitar de horarios:
    </ion-card-header>

    <ion-card-content>

      <ion-list>
        <ion-item *ngFor="#item of items">
          <ion-label>{{item.schedule.name}}</ion-label>
          <ion-checkbox [(ngModel)]="item.checked"></ion-checkbox>
        </ion-item>

        <ion-list-header *ngIf="!platform.is('android')">
          <button block (click)="save()">
            Guardar
          </button>
        </ion-list-header>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>

<button fab fab-bottom fab-right *ngIf="platform.is('android')" (click)="save()">
  <ion-icon name="checkmark"></ion-icon>
</button>

<button fab fab-bottom fab-left danger *ngIf="platform.is('android')" (click)="cancel()">
  <ion-icon name="close"></ion-icon>
</button>
