<ion-navbar *navbar>
  <ion-title>Información</ion-title>
</ion-navbar>

<ion-content class="page-content">
  <ion-card *ngIf="meta">
    <ion-card-content>
      <h3>
        La información presente aquí se actualiza con menor frecuencia que el Buscacursos oficial.
      </h3>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="meta">
    <ion-card-content>
      <ion-list>
        <ion-list-header>
          Legal
        </ion-list-header>

        <ion-item>
          Aplicación no oficial de la PUC
        </ion-item>

        <ion-item (click)="open(meta.policy)">
          Política de privacidad
          <button outline item-right>
            Ver
          </button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="meta">
    <ion-card-content>
      <ion-list>
        <ion-list-header>
          Aplicación
        </ion-list-header>

        <ion-item>
          Versión:
          <ion-note item-right>
            {{meta.version}}
          </ion-note>
        </ion-item>

        <ion-item>
          Licencia:
          <ion-note item-right>
            {{meta.license}}
          </ion-note>
        </ion-item>

        <ion-item (click)="open(meta.repository.url)">
          Repositorio:
          <button outline item-right>
            <ion-icon name="git-pull-request"></ion-icon>
            Github
          </button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="meta">
    <ion-card-content>
      <ion-list>
        <ion-list-header>
          Autor
        </ion-list-header>

        <ion-item>
          <ion-avatar item-left>
            <img [src]="image(meta.author.email)">
          </ion-avatar>
          <h2>
            {{meta.author.name}}
          </h2>
          <p>
            Ingeniería
          </p>
        </ion-item>

        <ion-item (click)="open('mailto:' + meta.author.email)">
          Email:
          <button outline item-right>
            {{meta.author.email}}
          </button>
        </ion-item>

        <ion-item (click)="open(meta.author.url)">
          URL:
          <button outline item-right>
            {{meta.author.url}}
          </button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="meta">
    <ion-card-content>
      <ion-list>
        <ion-list-header>
          Colaboradores
        </ion-list-header>

        <ion-item button *ngFor="#user of meta.contributors" (click)="open(user.url)">
          {{user.name}}
          <button item-right clear>
            {{meta.author.url}}
          </button>
        </ion-item>

        <ion-item *ngIf="meta.contributors.length === 0">
          <p>
            Nadie por el momento
          </p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
