<ion-card>
  <!-- <ion-card-header> -->
    <ion-item>
      {{schedule.name}}
      <button item-right class="options-button" (click)="click()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-item>
  <!-- </ion-card-header> -->

  <ion-segment class="select-segment" [(ngModel)]="current">
    <ion-segment-button *ngFor="#day of days; #i = index" [value]="i">{{day}}</ion-segment-button>
  </ion-segment>

  <ion-card-content>
    <div *ngFor="#blocks of schedule.week[current]">
      <schedule-block *ngIf="blocks?.length" [blocks]="blocks" [schedule]="schedule" (select)="selected($event)"></schedule-block>
    </div>
    <ion-item *ngIf="!isBusy(current)">
      <ion-icon name="md-happy" item-left></ion-icon>
      {{names[current]}} sin clases
    </ion-item>
  </ion-card-content>

  <ion-item-divider [ngSwitch]="schedule.count">
    <p *ngSwitchWhen="0">
      <span class="course-count">Sin cursos</span>
      <span class="credits-count">{{schedule.credits}} créditos</span>
    </p>
    <p *ngSwitchWhen="1">
      <span class="course-count">1 curso</span>
      <span class="credits-count">{{schedule.credits}} créditos</span>
    </p>
    <p *ngSwitchDefault>
      <span class="course-count">{{schedule.count}} cursos</span>
      <span class="credits-count">{{schedule.credits}} créditos</span>
    </p>
  </ion-item-divider>
</ion-card>
