<ion-card>
  <ion-item>
    {{schedule.name}}
    <button item-right clear class="options-button" (click)="click()">
      <ion-icon name="more"></ion-icon>
    </button>
  </ion-item>

  <ion-segment class="select-segment" [(ngModel)]="current">
    <ion-segment-button *ngFor="#day of days; #i = index" [value]="i + 1">{{day}}</ion-segment-button>
  </ion-segment>

  <ion-card-content>
    <div *ngFor="#blocks of schedule.week[current]">
      <schedule-block *ngIf="blocks?.length" [blocks]="blocks" [schedule]="schedule" (select)="selected($event)"></schedule-block>
    </div>
    <ion-item *ngIf="!isBusy(current)">
      <ion-icon name="md-happy" item-left></ion-icon>
      {{names[current]}} sin clases
    </ion-item>
  </ion-card-content>

  <ion-item-divider [ngSwitch]="schedule.count">
    <p *ngSwitchWhen="0">
      <button disabled outline small class="course-count">Sin cursos</button>
      <span class="credits-count">{{schedule.credits}} créditos</span>
    </p>
    <p *ngSwitchWhen="1">
      <button outline small class="course-count" (click)="courses.emit()">1 curso</button>
      <span class="credits-count">{{schedule.credits}} créditos</span>
    </p>
    <p *ngSwitchDefault>
      <button outline small class="course-count" (click)="courses.emit()">{{schedule.count}} cursos</button>
      <span class="credits-count">{{schedule.credits}} créditos</span>
    </p>
  </ion-item-divider>
</ion-card>
