<ion-card>
  <!-- <ion-card-header> -->
    <ion-item>
      {{schedule.name}}
      <button item-right class="options-button">
        <icon more></icon>
      </button>
    </ion-item>
  <!-- </ion-card-header> -->

  <ion-segment class="week-segment">
    <ion-segment-button *ngFor="#day of days" [value]="day" (select)="selectDay(day)">{{day}}</ion-segment-button>
  </ion-segment>

  <ion-card-content>
    <div class="ewe" *ngFor="#blocks of schedule.week[current]">
      <schedule-block *ngIf="blocks && blocks.length" [blocks]="blocks">
      </schedule-block>
    </div>
  </ion-card-content>
</ion-card>
