<ion-list>
  <!-- <ion-list inset>
  <ion-item *ngFor="#schedule of section.schedule">
    <h2>{{schedule.identifier}}</h2>
    <h3>{{schedule.location.campus || 'Sin campus'}}: {{schedule.location.place || '?'}}</h3>
    <p *ngFor="#module of schedule.modules">
      <span>{{module.day}}</span>: {{module.hours}}
    </p>
  </ion-item>
</ion-list> -->

  <ion-card *ngIf="schedule">
    <ion-card-content>
      <schedule-table [schedule]="schedule" [highlight]="[section]"></schedule-table>
    </ion-card-content>

    <ion-item actions *ngIf="!schedule.has(section)">
      <button outline item-left (click)="selectSchedule.emit();">
        <!-- <ion-icon name="calendar"></ion-icon> -->
        {{schedule.name}}
      </button>

      <button item-right clear (click)="add.emit(section)">
        <ion-icon name="add"></ion-icon>
        Agregar Sección {{section.section}}
      </button>
    </ion-item>

    <ion-item actions *ngIf="schedule.has(section)">
      <button outline item-left (click)="selectSchedule.emit();">
        <!-- <ion-icon name="calendar"></ion-icon> -->
        {{schedule.name}}
      </button>

      <button item-right clear danger (click)="remove.emit(section)">
        <ion-icon name="remove"></ion-icon>
        Remover Sección {{section.section}}
      </button>
    </ion-item>

    <ion-item *ngFor="#sch of section.schedule">
      <div class="mini-rectangle" [style.background]="provider.color(sch.identifier)"></div>
      <div class="sch-content">
        <p>
          <strong>{{sch.identifier}}</strong> <span class="sch-modules" *ngFor="#module of sch.modules"><strong>{{module.day}}</strong>: {{module.hours}}</span>
        </p>
        <p>
          {{sch.location.campus || 'Sin campus'}}: {{sch.location.place || '?'}}
        </p>
      </div>
    </ion-item>
  </ion-card>

  <ion-list-header [ngSwitch]="section.teachers.length">
    <span *ngSwitchWhen="0">Sin profesores</span>
    <span *ngSwitchWhen="1">Profesor</span>
    <span *ngSwitchDefault>Profesores</span>
  </ion-list-header>

  <div padding>
    <ion-item *ngFor="#teacher of section.teachers">
      <ion-thumbnail class="teacher-photo" item-left>
        <img class="photo" [src]="teacher.photoURL">
      </ion-thumbnail>
      <div class="teacher-info">
        <h2>{{teacher.name}}</h2>
        <p>Alguna información</p>
      </div>
    </ion-item>
  </div>

  <ion-list-header>
    Información
  </ion-list-header>
  <div padding>
    <ion-item>
      NRC:
      <ion-note item-right>
        {{section.NRC}}
      </ion-note>
    </ion-item>

    <ion-item>
      Vacantes:
      <ion-note item-right>
        {{section.vacancy.available}} / {{section.vacancy.total}}
      </ion-note>
    </ion-item>

    <ion-item>
      Retirable:
      <ion-icon [name]="section.droppable ? 'checkmark' : 'close'" is-active="false" item-right></ion-icon>
    </ion-item>

    <ion-item>
      Inglés:
      <ion-icon [name]="section.english ? 'checkmark' : 'close'" is-active="false" item-right></ion-icon>
    </ion-item>

    <ion-item>
      Aprobación especial:
      <ion-icon [name]="section.specialApproval ? 'checkmark' : 'close'" is-active="false" item-right></ion-icon>
    </ion-item>
  </div>
</ion-list>
