<ion-list-header>
  Horario
</ion-list-header>

<!-- <ion-list inset>
  <ion-item *ngFor="#schedule of section.schedule">
    <h2>{{schedule.identifier}}</h2>
    <h3>{{schedule.location.campus || 'Sin campus'}}: {{schedule.location.place || '?'}}</h3>
    <p *ngFor="#module of schedule.modules">
      <span>{{module.day}}</span>: {{module.hours}}
    </p>
  </ion-item>
</ion-list> -->

<div padding *ngIf="schedules">
  <schedule-table [schedule]="schedules[0]" [highlight]="[section]"></schedule-table>
</div>

<ion-list-header [ngSwitch]="section.teachers.length">
  <span *ngSwitchWhen="0">Sin profesores</span>
  <span *ngSwitchWhen="1">Profesor</span>
  <span *ngSwitchDefault>Profesores</span>
</ion-list-header>

<ion-list inset>
  <ion-item *ngFor="#teacher of section.teachers">
    <ion-thumbnail class="teacher-photo" item-left>
      <img class="photo" [src]="teacher.photoURL">
    </ion-thumbnail>
    <div class="teacher-info">
      <h2>{{teacher.name}}</h2>
      <p>Alguna información</p>
    </div>
  </ion-item>
</ion-list>

<ion-list-header>
  Información
</ion-list-header>

<ion-list inset>
  <ion-item>
    NRC:
    <ion-note item-right>
      {{section.NRC}}
    </ion-note>
  </ion-item>

  <ion-item>
    Vacantes:
    <ion-note item-right>
      {{section.vacancy.available}} / {{section.vacancy.total}}
    </ion-note>
  </ion-item>

  <ion-item>
    Retirable:
    <ion-icon [name]="section.droppable ? 'checkmark' : 'close'" is-active="false" item-right></ion-icon>
  </ion-item>

  <ion-item>
    Inglés:
    <ion-icon [name]="section.english ? 'checkmark' : 'close'" is-active="false" item-right></ion-icon>
  </ion-item>

  <ion-item>
    Aprobación especial:
    <ion-icon [name]="section.specialApproval ? 'checkmark' : 'close'" is-active="false" item-right></ion-icon>
  </ion-item>

</ion-list>
