<ion-navbar *navbar>
  <ion-title>
    {{course.initials}}-{{course.section}}
  </ion-title>
  <ion-buttons right *ngIf="!platform.is('android') && schedule">
    <button small *ngIf="!schedule.has(course)" (click)="addSection(course)">
      Agregar
    </button>
    <button small danger *ngIf="schedule.has(course)" (click)="removeSection(course)">
      Remover
    </button>
  </ion-buttons>
</ion-navbar>

<ion-content class="page-content">
  <ion-card>
    <ion-list-header class="section-header">
      <ion-icon name="information-circle" item-left></ion-icon>
      Secciones
    </ion-list-header>

    <ion-item-divider sticky class="segment-replacement" *ngIf="!sections">
      <ion-icon name="refresh" item-left></ion-icon>
      Cargando...
    </ion-item-divider>

    <ion-item-divider sticky class="segment-replacement" *ngIf="sections && sections.length === 1">
      <span>Única sección</span>
    </ion-item-divider>

    <ion-segment [(ngModel)]="current" class="select-segment" *ngIf="sections?.length > 1 && sections?.length <= 10">
      <ion-segment-button *ngFor="#section of sections; #i = index" [value]="i" (select)="selectSection(i)">
        {{section.section}}
      </ion-segment-button>
    </ion-segment>

    <ion-item *ngIf="sections?.length > 10">
      <button block (click)="viewSections()">
        Ver las {{sections.length}} secciones
      </button>
    </ion-item>

    <ion-card-content>
      <!-- <ion-item>
        <button block small>Agregar o quitar</button>
      </ion-item> -->
      <section-view [section]="course" [schedule]="schedule"></section-view>
    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-list-header>
          <ion-icon name="information-circle" item-left></ion-icon>
          Información general
        </ion-list-header>

        <ion-item>
          Nombre:
          <ion-note item-right>
            {{course.name}}
          </ion-note>
        </ion-item>

        <ion-item>
          Iniciales:
          <ion-note item-right>
            {{course.initials}}
          </ion-note>
        </ion-item>

        <ion-item>
          Créditos:
          <ion-note item-right>
            {{course.credits}}
          </ion-note>
        </ion-item>

        <ion-item>
          Escuela:
          <ion-note item-right>
            {{course.school}}
          </ion-note>
        </ion-item>

        <ion-item>
          Periodo:
          <ion-note item-right>
            {{course.year}}-{{course.period}}
          </ion-note>
        </ion-item>

        <ion-item text-wrap>
          Información:
          <p class="information">
            {{course.information}}
          </p>
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>

<div *ngIf="platform.is('android') && schedule">
  <button fab fab-bottom fab-right *ngIf="!schedule.has(course)" (click)="addSection(course)">
    <ion-icon name="add"></ion-icon>
  </button>
  <button fab fab-bottom fab-right danger *ngIf="schedule.has(course)" (click)="removeSection(course)">
    <ion-icon name="remove"></ion-icon>
  </button>
</div>
