<ion-navbar *navbar>
  <ion-title>{{course.initials}}</ion-title>
</ion-navbar>


<ion-content class="page-content">
  <ion-card>
    <ion-list-header>
      <icon information-circle item-left></icon>
      Secciones
    </ion-list-header>

    <ion-item-divider sticky class="segment-replacement" *ngIf="!sections">
      <icon refresh item-left></icon>
      Cargando...
    </ion-item-divider>

    <ion-item-divider sticky class="segment-replacement" *ngIf="sections && sections.length === 1">
      <span>Única sección</span>
    </ion-item-divider>

    <ion-segment [(ngNodel)]="current" class="select-segment" *ngIf="sections && sections.length > 1">
      <ion-segment-button *ngFor="#section of sections; #i = index" [value]="i">
        {{i + 1}}
      </ion-segment-button>
    </ion-segment>

    <ion-card-content>
      <ion-list-header>
        Profesores
      </ion-list-header>

      <ion-list inset>
        <ion-item *ngFor="#teacher of course.teachers">
          <ion-avatar item-left>
            <img src="img/avatar.png">
          </ion-avatar>
          <h2>{{teacher.name}}</h2>
          <p>Alguna información</p>
        </ion-item>
      </ion-list>

      <!-- <ion-list-header>
        Horario
      </ion-list-header>

      <ion-list-header>
        Datos
      </ion-list-header> -->

      <ion-list-header>
        Información
      </ion-list-header>

      <ion-list inset>
        <ion-item>
          NRC:
          <ion-note item-right>
            {{course.NRC}}
          </ion-note>
        </ion-item>

        <!-- <ion-item>
          Periodo:
          <ion-note item-right>
            {{course.year}}-{{course.period}}
          </ion-note>
        </ion-item> -->

        <ion-item>
          Vacantes:
          <ion-note item-right>
            {{course.vacancy.available}} / {{course.vacancy.total}}
          </ion-note>
        </ion-item>

        <ion-item>
          Aprobación especial
          <icon [name]="course.specialApproval ? 'checkmark' : 'close'" item-right></icon>
        </ion-item>

        <ion-item>
          Inglés
          <icon [name]="course.english ? 'checkmark' : 'close'" item-right></icon>
        </ion-item>

        <ion-item>
          Retirable
          <icon [name]="course.droppable ? 'checkmark' : 'close'" item-right></icon>
        </ion-item>

      </ion-list>
    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-list-header>
          <icon information-circle item-left></icon>
          Información general
        </ion-list-header>

        <ion-item>
          Nombre:
          <ion-note item-right>
            {{course.name}}
          </ion-note>
        </ion-item>

        <ion-item>
          Iniciales:
          <ion-note item-right>
            {{course.initials}}
          </ion-note>
        </ion-item>

        <ion-item>
          Créditos:
          <ion-note item-right>
            {{course.credits}}
          </ion-note>
        </ion-item>

        <ion-item>
          Escuela:
          <ion-note item-right>
            {{course.school}}
          </ion-note>
        </ion-item>

        <ion-item text-wrap>
          Información:
          <p class="information">
            {{course.information}}
          </p>
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
