.information {
  // line-height: 120%; FIXME
  padding-top: 10px;
  // text-align: justify;
  // text-justify: inter-word;
}

.segment-replacement ion-item-divider {
  height: 42px;
  padding-bottom: 0;
  padding-top: 0;
}
