<ion-navbar *navbar>
  <ion-title>Horarios</ion-title>
  <ion-buttons right *ngIf="platform.is('ios')">
    <button (click)="newScheduler()">
      Nuevo
    </button>
  </ion-buttons>
</ion-navbar>

<ion-content class="page-content">
  <div class="schedules" *ngIf="schedules">
    <schedule-view
    *ngFor="#schedule of schedules"
    [schedule]="schedule"
    (deleted)="deleteSchedule(schedule)">
  </schedule-view>
  </div>
  <button fab fab-bottom fab-right *ngIf="platform.is('android')" (click)="newScheduler()">
    <icon add></icon>
  </button>
</ion-content>
