<ion-list>
  <ion-list-header>
    <span class="block-hour">
      {{hour.start}} - {{hour.end}}
    </span>
    <span class="block-identifier">
      {{day}}: {{block}}
    </span>
  </ion-list-header>

  <ion-item button *ngFor="#block of blocks" (click)="click(block)">
    <icon [name]="icon(block.course)" item-left></icon>
    <h2>
      <strong class="identifier">{{block.course.initials}}-{{block.course.section}}</strong> | {{block.modtype}}
    </h2>
    <h3 class="name">{{block.course.name}}</h3>
    <!-- <h4 class="teachers-names">{{block.course.teachersNames.join(', ')}}</h4> -->
    <p class="place">
      {{block.course.campus(block.modtype)}}: {{block.course.place(block.modtype)}}
    </p>
  </ion-item>
</ion-list>
