.schedule {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  table-layout: fixed;
  color: #313131;
  border-collapse: collapse;
  border-style: hidden;
  empty-cells: show;

  tr {
    line-height: 18px;

    td {
      color: #8b9798;
      font-size: 15pt;
    }
  }

  td,
  th {
    border: 1px solid #c4cace;
  }
}
