<ion-item>
  <ion-avatar item-left class="teacher-photo">
    <img src="img/karim.png">
  </ion-avatar>
  <h2>
    <strong class="identifier">{{course.initials}}-{{course.section}}</strong>
  </h2>
  <small class="nrc">{{course.NRC}}</small>
  <h3 class="name">{{course.name}}</h3>
  <h4 class="teachers">{{teachersName()}}</h4>
  <div class="modules">
    <p>
      <strong class="module">CAT</strong>:
      <span class=blocks>
        <strong>J</strong>:4,5</span>
      <span class="classroom">BC25</span>
    </p>
    <p>
      <strong class="module">AYUD</strong>:
      <span class=blocks>
        <strong>L</strong>:6</span>
      <span class="classroom">A4</span>
    </p>
  </div>
</ion-item>
