<ion-item>
  <ion-avatar item-left class="teacher-photo">
    <img src="img/karim.png">
  </ion-avatar>
  <h2>
    <strong class="identifier">{{course.initials}}-{{course.section}}</strong>
  </h2>
  <small class="nrc">{{course.NRC}}</small>
  <h3 class="name">{{course.name}}</h3>
  <h4 class="teachers">{{teachersName()}}</h4>
  <div class="modules">
    <p *ngFor="#type of activeModules()">
      <strong class="module">{{type}}</strong>:
      <span class="blocks">
        <span class="block" *ngFor="#day of activeDays(type)">
          <strong>{{day.day}}</strong>: {{day.modules}}
        </span>
      </span>
      <span class="classroom">
        {{place(type)}}
      </span>
    </p>
  </div>
</ion-item>
