<ion-item-sliding #item>
  <ion-item button (click)="click()">
    <h2>
      <strong class="identifier">{{course.initials}}-{{course.section}}</strong>
    </h2>
    <small class="nrc">{{course.NRC}}</small>
    <h3 class="name">{{course.name}}</h3>
    <h4 class="teachers">{{course.teachers.length ? course.teachersName.join(', ') : 'Sin profesores'}}</h4>

    <div class="modules" *ngIf="schedule?.length > 0">
      <p *ngFor="#type of schedule">
        <strong class="module">{{type.identifier}}</strong>:
        <span class="blocks">
          <span class="block" *ngFor="#block of type.modules">
            <strong>{{block.day}}</strong>: {{block.hours}}
          </span>
        </span>
        <span class="classroom">
          {{type.location.place}}
        </span>
      </p>
    </div>

    <div class="schedule" *ngIf="schedule?.length === 0">
      <p class="block"><strong>Sin horario</strong></p>
    </div>

    <div class="schedule" *ngIf="!schedule">
      <p class="block"><strong>Sin información del horario</strong></p>
    </div>

  </ion-item>
  <ion-item-options>
    <button (click)="interact(item)">Agregar o quitar</button>
  </ion-item-options>
</ion-item-sliding>
